= form_tag("../create_lib", :method => "post", :name=>"aform", class: "paper") do
  .row
  - @keyword_set.each do |keyword| 
    .four.columns
      = text_field_tag("form[#{keyword}]")
      %br/
      = label_tag("form[#{keyword}]", keyword.gsub(/[^A-Za-z']/, ""))

  = hidden_field_tag("frame_text", @frame_text.join('|'))
  = hidden_field_tag("keyword_text", @keyword_text.join('|'))
  = submit_tag("Libify", class: "button")
