<p id="notice"><%= notice %></p>

<p>
  <b>Frame text:</b>
  <%= @lib.frame_text %>
</p>

<p>
  <b>Keyword text:</b>
  <%= @lib.keyword_text %>
</p>


<%= link_to 'Edit', edit_lib_path(@lib) %> |
<%= link_to 'Back', libs_path %>
